.blog-entries{
    margin-top: 4rem;
}

@media (min-width: 786px) {
    .blog-entries{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.card .card-content .date-published span{
    color: var(--primary);
}

.card .card-content .date-published{
    color: var(--black);
}
@media (min-width: 786px) {
    .card .card-content .date-published{
        color: var(--white);
    }
}