.testimonials{
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.75),
            rgba(0, 0, 0, 0.75)
    ),
    url(../img/testimonial-bg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 12rem 0;
}
.testimonials h2{
    color: var(--white);
}
.container-testimonial{
    max-width: 80rem;
    margin: 0 auto;
}

.container-testimonial .bx-wrapper{
    background: transparent;
    box-shadow: none;
    border: none;
}
.testimonial{
    color: var(--white);
}
.testimonial-footer{
    display: flex;
    justify-content: center;
}
.testimonial-footer img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-right: 2rem;
}
.testimonial-footer p{
    color: var(--primary);
    font-weight: 700;
}

.testimonial blockquote{
    position: relative;
    padding-left: 12rem;
}

.testimonial blockquote::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 10rem;
    height: 9rem;
    background-image: url("../img/quote.svg");
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .testimonial-footer{
        justify-content: flex-end;
    }
}
.container-testimonial .bx-wrapper .bx-pager.bx-default-pager a,
.container-testimonial .bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: var(--white);
}
.container-testimonial .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: var(--primary);
}